/SqlEditor Build.v11.suo
/SqlEditor/bin
/SqlEditor/obj
/SqlEditor.Setup/SqlEditor.Setup/Express
obj
bin
/SqlEditor.suo
/SqlEditor.v11.suo
/SqlEditor.sln.DotSettings
/SqlEditor.sln.DotSettings.user
Express
/SqlEditor.Setup/SyncfusionAssemblyReferenceErrors.log
